.castList {
  padding-left: 20px;
  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
 
}
.castListItem {
    padding-top: 10px;
    width: 150px;
    margin: 20px;
}

/* .castListItemName {

}; */
