.container {
  margin-left: 20px;
}
.trendMoviesTitle {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
}
.trendMoviesList {
  margin-top: 15px;
  width: 400px;
}
.trendMoviesListItem {
  padding: 2px;
}
.trendMoviesListLink {
  color: black;
  display: flex;
  align-items: center;
}
.trendMoviesListLink:hover {
  color: red;
}
