.headerNav {
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 20%), 0 2px 1px rgb(0 0 0 / 14%),
    0 3px 1px -1px rgb(0 0 0 / 12%);
}
.navList {
  display: flex;
  gap: 10px;
}

.navItem {
  padding: 5px;
}
.navLink {
  color: black;
  display: flex;
  align-items: center;  
}
.navLink:hover {
  color: red;
}
.navLink:active {
  color: green;
}
